@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
    font-size:16px;
    height: 100vh;
    width: 100%;
}
header {
    box-shadow: 1px 1px 5px;
    height: 10.5rem;
}
header h1 {
    color:#ffffff;
    font-size:4rem;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}
header ul {
    display: flex;
    justify-content: center;
    font-size:2rem;
    margin-top: 0.5rem;
}
header li {
    margin-right: 2rem;
}
header li a {   
    font-size: 2.5rem;
    color: #fff;
}
header li a:hover {
    text-decoration: underline rgb(245, 33, 17);
}
header {
    flex-direction: row;
    flex-wrap: wrap;
}
main {
    margin-top: 3rem;
    text-align: center;
}
main h2 {
    font-size: 2rem;
    color:#fff;
    margin: 2rem;
}
main p {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    width:30rem;
    margin: 0 auto;
}
main p a {
    text-decoration: none;
    color: #fff;
}

.btn-grad {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 td {
    background: oldlace;
    border: 1px solid black;
    /*padding: 1rem; */
    border-radius: 1rem;
    width:5rem;
    height: 5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

 }
 table {
    margin: 1rem auto;
    border-spacing: 1rem;
}
 img {
    padding: 0.3rem;
    width:10rem;
    height: 10rem;
    object-fit: contain;
 }
 .authors {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-shadow: black 1px 1px 3px;
 }
 ul .level {
     margin-top:30px;
 }
.level {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    width:30rem;
    margin: 0.7rem auto;    
    text-shadow: 2px 2px 5px black;
}
.level a {
    color: white;
}
.levelEasy {
    background-image: linear-gradient(to right, #10d320 0%, #38ea41  51%, #10d33a  100%)
}
.levelAverage {
    background-image: linear-gradient(to right, #d3d010 0%, #eade38  51%, #d3d010  100%)
}
form {
    box-shadow: 1px 1px 10px black;
    text-shadow: 1px 1px 3px black;
    color: white;
    font-size: 2rem;
    margin: 4rem auto;
    text-align: center;
    width : 20rem;
    background-color: #045191;
    border-radius: 0.7rem;
}
fieldset {
    font-weight: 700;
    border-style: none;
}
label {
    font-weight: 700;
    margin: 0 auto;
    font-size: 1.5rem;
}
input {
    margin: 0 auto;
    width: 17rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.label {
    width: 95%;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.button-submit{
    color:white;
    width: 10rem;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 20px;
    background-color: rgb(3, 42, 65);
}
.button-submit:hover {
    color:black;
    transition: 0.5s;
    background-color: greenyellow;
}
.pontuacao{
    margin-top:10px;
    text-align: center;
    color:white;
}
.turno{
    text-align: center;
    color:white;
}
.underline {
    text-decoration: underline black;
}
.victory {
    margin-top: 3rem;
    text-align: center;
}
.victory h2 {
    font-size: 2rem;
    color:#fff;
    margin: 2rem;
}
.victory p {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    width:30rem;
    margin: 0 auto;
}
.victory p a {
    text-decoration: none;
    color: #fff;
}
